@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

* {
	font-size: 100%;
	box-sizing: border-box;
	line-height: 100%;
}

html {
	height: stretch;
	height: -webkit-fill-available;
	height: 100%;
}
body {
	display: flex;
	color: rgb(var(--foreground-rgb));
	background: white;
	/* height: 100vh; */
	min-height: stretch;
	min-height: -webkit-fill-available;
	min-height: 100vh;
	max-height: -webkit-fill-available;
	max-height: -moz-available;
	max-height: stretch;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.bg-contact-us {
	background: url("../public/images/contact-us/contact-us-1.png") no-repeat 50%;
	background-size: cover;
}
.bg-find-a-home {
	background: url("../public/images/find-a-home/find-a-home-1.png") no-repeat 50%;
	background-size: cover;
}

/* .button span {
	margin-top: 2px;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.backdrop {
	background: rgba(0, 0, 0, 0.4) !important;
	-webkit-backdrop-filter: blur(5px) !important;
	backdrop-filter: blur(5px) !important;
}

.translucent-backdrop {
	background: rgba(255, 255, 255, 0.12);
	backdrop-filter: blur(1.5px) !important;
	-webkit-backdrop-filter: blur(1.5px) !important;
}

.two-lines-max {
	width: 100%; /* Adjust the width as needed */
	height: 3em; /* Adjust the height to fit two lines of text */
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* Number of lines to show */
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-moz-box-pack: center;
}

.-webkit-h-fit-available {
	/* Safari and Chrome */
	height: -webkit-fill-available !important;
}

.-moz-h-fit-available {
	/* IE and Edge */
	height: 100%;
}
.-ms-h-fit-available {
	/* IE and Edge */
	height: 100%;
}

/* for range slider */
.multi-range-slider .bar-right,
.multi-range-slider .bar-left,
.multi-range-slider .bar-inner
/* ,
.multi-range-slider .thumb::before  */ {
	box-shadow: none !important;
}
.multi-range-slider .bar-inner {
	border: none !important;
}
.multi-range-slider .thumb::before {
	border: solid 3px white !important;
	margin: -6.5px -12px !important;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}
.multi-range-slider {
	width: 100% !important;
}
.caption {
	display: none !important;
}
