@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

* {
	font-size: 100%;
	box-sizing: border-box;
	line-height: 100%;
}

body {
	color: rgb(var(--foreground-rgb));
	background: white;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.bg-contact-us {
	background: url("../public/images/contact-us/contact-us-1.png") no-repeat 50%;
	background-size: cover;
}
.bg-find-a-home {
	background: url("../public/images/find-a-home/find-a-home-1.png") no-repeat 50%;
	background-size: cover;
}

.button span {
	margin-top: 2px;
}

.backdrop {
	background: rgba(0, 0, 0, 0.4) !important;
	-webkit-backdrop-filter: blur(5px) !important;
	backdrop-filter: blur(5px) !important;
}
